@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: rgba(245, 243, 241, 0.776);
    font-family: 'Poppins', sans-serif;

}

.aboutRoot{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imageconatiner {
    width: 500px;
    height: 500px;
    margin-top: 6rem;
    position: sticky;
    margin-left: 2rem;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(58, 52, 171);
    border-radius: 5px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: lighter;
    transition: width 2s, height 2s, background-color 2s, transform;
}

.imageconatiner:hover {
    background-color: #FFCCCC;
    width: 300px;
    height: 300px;
    /* transform: rotate(180deg); */
}

h1 {
    text-align: center;
    margin-top: 30px;
    color: black;
    font-family: 'Poppins', sans-serif;

}

#credentials {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 940px) {
    .imageconatiner{
        width: 300px;
    height: 300px;
    }
}

h2 {
    text-align: center;
    margin-top: 40px;
    color: blue;
    /* text-decoration: underline; */
    text-decoration-color: palevioletred;
    font-family: 'Poppins', sans-serif;

}

#para {
    margin-top: 20px;
    width: 90%;
    text-align: left;
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
}